/*
Header
*/

.header {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  height: 50px;
}

.header a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}
.header .burger-menu {
  display: none;
}

@media (max-width: 768px) {
  .header .burger-menu {
    display: block;
  }
  .header ul {
    position: absolute;
    top: 5em;
    width: 100%;
    flex-direction: column;
    margin: 0;
    left: 0;
    padding: 0;
    background-color: var(--background-color);
  }
  .header ul li {
    margin: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--card-color);
  }

  .header .menu {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu.active {
    max-height: 500px;
  }
}

/*
Card
*/
.card {
  border-radius: 16px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card-content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title span {
  color: var(--secondary-color);
  font-weight: 700;
}

.card-description {
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: auto;
  color: var(--accent-color);
}

.card:hover {
  transform: scale(1.05);
}
/*
Button
*/
.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
}

.button a {
  text-decoration: none;
  color: inherit;
}
.button.outline {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.button.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
}
/*
Hero
*/

.hero {
  background-color: var(--accent-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.hero h1 {
  color: var(--primary-color);
}
.hero h3 {
  color: var(--background-color);
}
.hero p {
  color: var(--background-color);
  margin-bottom: 1rem;
  max-width: 500px;
}
.hero .featured-image {
  position: absolute;
  right: 16px;
  top: 0;
  height: 300px;
  width: 300px;
  border-radius: 16px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero .featured-image {
    position: relative;
    height: auto;
    width: 100%;
    height: 200px;
    right: auto;
    top: auto;
  }

  .hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/**
 * Menu
 */

.menu-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.menu-title {
  display: flex;
  justify-content: space-between;
}

.menu-cards {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.menu-card a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
}
.menu-card .card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/**
 * Testimonials
 */

.testimonials-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--primary-color);
}
.testimonials-section h2 {
  text-align: center;
}
.testimonials-cards {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.testimonial-card .person {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}

.testimonial-card .person img {
  width: 65px;
  border-radius: 12px;
}

.testimonial-card .card-description {
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

/**
 * About
 */

.about-us {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.about-us h1,
.about-us h3,
.about-us p {
  color: var(--text-color);
}

.about-us p {
  margin-bottom: 1rem;
  max-width: 500px;
}
.about-us .featured-image {
  position: absolute;
  right: 16px;
  top: 0;
  height: 300px;
  width: 300px;
}
.about-us .featured-image .image-1 {
  position: absolute;
  left: -3rem;
  top: 3rem;
}
.about-us .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.about-us .content {
  width: 50%;
}
@media (max-width: 768px) {
  .about-us .featured-image {
    position: relative;
    height: auto;
    width: 100%;
    height: 200px;
    right: auto;
    top: auto;
    border-radius: 16px;
  }
  .about-us .featured-image .image-1 {
    position: absolute;
    left: 3rem;
    top: -3rem;
  }
  .about-us .featured-image img {
    width: calc(100% - 3rem);
  }
  .about-us {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .about-us .content {
    width: 100%;
  }
}

/**
 * Footer
 */
.footer {
  background-color: var(--card-color);
}
.footer nav {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.footer nav img {
  height: 120px;
}
.footer nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer nav ul li {
  margin-bottom: 1rem;
}
.footer nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}
.footer nav h4 {
  margin-bottom: 1rem;
}
@media (max-width: 520px) {
  .footer nav {
    justify-content: flex-start;
  }
}
