:root {
  --background-color: #fff;
  --text-color: #333;
  --accent-color: #495e57;
  --primary-color: #f4ce15;
  --card-color: #edefee;
  --secondary-color: #ee9972;
  --destructive-color: #ff4d4d;
  --main-font: "Karla", sans-serif;
  --heading-font: "Markazi Text", serif;
}

:focus-visible {
  outline: var(--destructive-color) auto 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 1.5;
}

p,
span {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p,
span {
  font-size: 1rem;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li {
  margin-right: 1rem;
}
